<main>
    <section class="form-section">
        <img src="../../../assets/svg/logo.svg" alt="Logo" />
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-login"  (click)="submit()">{{btnLogin}}</button>
        </div>
        <div class="logo-tivic">
            <img src="assets/Tivic.png" alt="Logo Tivic" />
        </div>
    </section>
    <section class="main-section">
        <img src="assets/etilometro.svg" alt="Ilustração" />
    </section>
</main>