.card-container{
    button{
        display: flex;
        align-items: center;
        width: 100%;
        border-radius: 8px;
        font-size: 16px;
        font-weight: 500;
        border: none;
        padding: 12px;
        cursor: pointer;
        background-color: #2173D8;
        color: white;
        
       
    }
}