<app-login-layout title="Entre na sua conta" btnLoginText="Entrar" btnCadastroText="Cadastrar" (submit)="submit()" (navigate)="navigate()" [disableBtn]="!loginForm.valid">
    <form [formGroup]="loginForm">
        <app-default-input 
            inputName="email" 
            type="email" 
            label="Usuário" 
            placeholder="admin@gmail.com"
            formControlName="email"
        >
            <img src="/assets/svg/email.svg"/>
        </app-default-input>
        <app-default-input
            inputName="password" 
            type="password" 
            label="Senha" 
            placeholder="***********"
            formControlName="password"
        >
            <img src="/assets/svg/password.svg"/>
        </app-default-input>
        <span>Esqueceu a senha?</span>
    </form>
</app-login-layout>
