<div class="card-container">
    <div class="card"  style="border-color: #820698">
        <div  class="card-content">
            <mat-icon class="icon-style">directions_car</mat-icon>
            <p>Operações realizadas nos últimos 30 dias</p>
        </div>
        <span>{{totalOperacoes}}</span>
    </div>

    <div  class="card" style="border-color: #2173d8">
        <div  class="card-content" >
            <mat-icon>hourglass_bottom</mat-icon>
             <p>Operações finalizadas</p>
        </div>
        <span>{{operacoesFinalizadas}}</span>
    </div>
    <div class="card" style="border-color: #9D6411">
        <div  class="card-content">
            <mat-icon>check</mat-icon>
            <p>Operações em Andamento</p>
        </div>
        <span>{{operacoesEmAndamento}}</span>
    </div>
</div>



